.deps
.libs
Makefile
Makefile.*
acinclude.m4
aclocal.m4
autom4te.cache
build
config.h*
*.lo
config.*
modules
configure*
eaccelerator.la
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
*~
